RawInboundEmailsBucketName=<ENTER-NAME-OF-YOUR-UNIQUE-S3-BUCKET-NAME>
SendGridWebhookPublicKey=<ENTER-YOUR-SENDGRID-WEBHOOK-PUBLIC-KEY>
BedrockModelIdForCategoryAndSummary=<ENTER-YOUR-BEDROCK-MODEL-ID-FOR-CATEGORY-AND-SUMMARY>
BedrockModelIdForAttachmentAnalysis=<ENTER-YOUR-BEDROCK-MODEL-ID-FOR-ATTACMENT-ANALYSIS>
SendGridOutboundEmailApiKeyId=<ENTER-YOUR-SENDGRID-OUTBOUND-EMAIL-API-KEY>
SendGridOutboundEmailDomainName=<ENTER-YOU-SENDGRID_OUTBOUND_EMAIL_DOMAIN_NAME>
